replicaCount: 1

image:
  repository: piasotlar/personalcook-frontend
  pullPolicy: IfNotPresent
  tag: "dev"

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  name: ""

podAnnotations: {}
podLabels:
  env: dev

podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 80

containerPort: 80

ingress:
  enabled: true
  className: nginx
  rewriteTarget: "/$2"
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  tls:
    enabled: false
    secretName: ""

  apiRoutes:
    - path: /api/user
      serviceName: user-service
      servicePort: 8000
    - path: /api/recipe
      serviceName: recipe-service
      servicePort: 8000
    - path: /api/search
      serviceName: search-service
      servicePort: 8000
    - path: /api/social
      serviceName: social-service-social-service
      servicePort: 8000
    - path: /api/shopping
      serviceName: shopping-service
      servicePort: 8000

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 250m
    memory: 256Mi

livenessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 2
  periodSeconds: 5
  timeoutSeconds: 2
  failureThreshold: 3

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

nodeSelector: {}
tolerations: []
affinity: {}

volumes:
  - name: nginx-conf
    configMap:
      name: frontend-nginx-dev
      items:
        - key: default.conf
          path: default.conf

volumeMounts:
  - name: nginx-conf
    mountPath: /etc/nginx/conf.d/default.conf
    subPath: default.conf
    readOnly: true
